<h1>Edit Order for <%= @order.customer_name %></h1>

<%= form_for [@vendor, @product, @order] do |f| %>

<p><%= f.label :customer_name%><br>
<%= f.text_field :customer_name %></p>

<p><%= f.label :pick_up_time %><br>
<%= f.datetime_field :pick_up_time %></p>

<p><%= f.label :reserve_amount %><br>
<%= f.number_field :reserve_amount %></p>


  <%= f.submit %>
<% end %>
