<h1>Create Vendor</h1>

<%= form_for @vendor do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :website %>
  <%= f.text_field :website %>

  <%= f.label :Photo_Url %>
  <%= f.text_field :image %>

  <%= f.submit %>
<% end %>
